In [6]:
#import nessary libraries

%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

In [7]:
# first we need to read the raw data set into a pandas data frame

In [8]:
raw_quokka_df = pd.read_csv('quokka.csv')

In [9]:
# lets look at the first 5 rows of the raw data

In [10]:
raw_quokka_df.head()

,Order No.,Shipping Zip/Postal Code,Amount,Perk,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,1301.0,98258,$17.00,3 Pack - The Sampler,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1300.0,02124,$69.00,24 Pack - Just Quokka,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1299.0,92677,$54.00,12 Pack - EXTENDED EARLY BIRD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1298.0,40356,$28.00,6 Pack - $4.17/can,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1297.0,94720,$17.00,3 Pack - The Sampler,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# we have only four relevant columns, so lets remove the other columns

In [12]:
quokka_df = raw_quokka_df.iloc[:,[0,1,2,3]]

In [ ]:
# lets look at the cleaned data now

In [13]:
quokka_df.head()

   Order No. Shipping Zip/Postal Code  Amount                           Perk
0     1301.0                    98258  $17.00           3 Pack - The Sampler
1     1300.0                    02124  $69.00          24 Pack - Just Quokka
2     1299.0                    92677  $54.00  12 Pack - EXTENDED EARLY BIRD
3     1298.0                    40356  $28.00             6 Pack - $4.17/can
4     1297.0                    94720  $17.00           3 Pack - The Sampler

In [ ]:
# now each row is a single contribution to Quokka's indiegogo campaign, which each row containing:
# order number(1-1301, so 1301 total data points), postal code the order was shipped to, the total ammount contributed
# by the order in dollars, and lastly the actual product/products that got shipped.

In [ ]:
# Before we conduct any EDA, lets use some built in pandas methods to get some summary statistics, and then we will
# visualize our raw data and see if any trends are already present.

In [19]:
# here we will use pandas to create a series object from our data frame, which will be a total count of the orders by
# each area code. First we will rename the Postal Code column for code clarity purposes.

quokka_df = quokka_df.rename(columns = {"Shipping Zip/Postal Code":"area_code"})

# now we use the value_counts() method on our area code column

num_orders_by_area = quokka_df["area_code"].value_counts()

num_orders_by_area.head(40)

94704    42
93551    35
93536    23
92780    16
92128    12
93405    12
92075    11
92037    11
95630    11
92127    10
92130     9
93117     9
94611     9
92024     9
95616     8
94109     6
91301     6
91504     6
94117     6
92014     6
94530     5
93257     5
95337     5
90066     5
94044     5
91302     5
92122     5
91773     5
91006     5
94709     5
94002     4
94110     4
95060     4
90025     4
94024     4
91367     4
94118     4
94539     4
94903     4
92602     4
Name: area_code, dtype: int64

In [ ]:
# from here we can:
#group area codes by region and see total count again
#sorta area codes with less than 4 orders into a 'other catagory'
# create histogram from value counts

In [ ]:
# instead of creating a series object, we can use pandas groupby method to create a data frame of orders by area code

In [25]:
quokka_areas = quokka_df.groupby(["area_code", "Order No."]).sum()

quokka_areas

                      Amount                            Perk
area_code Order No.
00000     1052.0      $44.00  12 Pack - EARLY BIRD (48hours)
00969     525.0       $56.00             Valeria's 12 - Pack
01523     379.0       $17.00            3 Pack - The Sampler
01760     545.0       $28.00              6 Pack - $4.17/can
02050     1025.0      $28.00              6 Pack - $4.17/can
...                      ...                             ...
BN3 6XD   406.0      $187.00  24 Pack - EARLY BIRD (48hours)
BT9 5BH   530.0      $187.00   24 Pack - EXTENDED EARLY BIRD
RG30 2DB  499.0      $187.00   24 Pack - EXTENDED EARLY BIRD
V4C 4E5   556.0      $116.00  12 Pack - EARLY BIRD (48hours)
us, 95993 244.0       $17.00            3 Pack - The Sampler

[1113 rows x 2 columns]